.footer{
    background:#0f172a;
    color:white;
    padding:50px;
}

.footer-top{
    display:flex;
    justify-content:space-around;
}

.footer-top h3{
    margin-bottom:15px;
}

.footer-top p{
    margin:8px 0;
    cursor:pointer;
}

.footer-top p:hover{
    color:#38bdf8;
}

.footer hr{
    margin:35px 0;
}

.copyright{
    text-align:center;
}