.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#0f172a;
    color:white;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.navbar{
    display:flex;
    gap:35px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.navbar a:hover{
    color:#38bdf8;
}

.login-btn{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.login-btn:hover{
    background:#1d4ed8;
}